<li>
	<div class='date'>
		<div class='month'><%=month%></div>
		<div class='day'><%=date%></div>
		<div class='year'><%=year%></div>
	</div>
	<h3><a href="<%=url%>"><%==title%></a></h3>
	<%==body%>
	<a class="read-rest" href="<%= url %>">Read rest of the entry &raquo;</a>
</li>