steal(
	'funcunit',
	'./list.js',
	'<%= appPath %>/models/<%= underscore %>.js',
	'<%= appPath %>/models/fixtures',
	function(S, <%=Alias%>List, <%=Alias%>, <%= underscore %>Store ){

	module("<%= appPath %>/<%=underscore%>/list", { 
		setup: function(){
			$("#qunit-test-area").append("<div id='<%=plural%>'></div>");
			this.list = new <%=Alias%>List("#<%=plural%>");
		},
		teardown: function(){
			$("#qunit-test-area").empty();
			<%= underscore %>Store.reset();
		}
	});
	
	test("lists all <%= plural %>", function(){
		stop();
		
		// retrieve <%= plural %>
		<%=Alias%>.findAll({}, function(<%= plural %>){
			// make sure they are listed in the page
			
			S(".<%= underscore %>").size(<%= plural %>.length,function(){
				ok(true, "All <%= plural %> listed");
				
				start();
			})
		})
	});
	
	test("lists created <%= plural %>", function(){
		
		new <%=Alias%>({
			name: "Grilled Cheese",
			description: "grill cheese in bread"
		}).save();
		
		S('h3:contains(Grilled Cheese X)').exists("Lists created <%= underscore %>");
	})
	
	
	test("delete <%= plural %>", function(){
		new <%=Alias%>({
			name: "Ice Water",
			description: "mix ice and water"
		}).save();
		
		// wait until grilled cheese has been added
		S('h3:contains(Ice Water X)').exists();
		
		S.confirm(true);
		S('h3:last a').click();
		
		
		S('h3:contains(Ice Water)').missing("Grilled Cheese Removed");
		
	});


});