<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title><%= appPath %>/<%= underscore %>/list Demo</title>
        <style type='text/css'>
            body {font-family: verdana}
        </style>
	</head>
	<body>
	    <h1><%= appPath %>/<%= underscore %>/list Demo</h1>
		<ul id='<%= plural %>'></ul>
		<a href='javascript://' id='create'>Create <%= Alias %></a>
		<script type='text/javascript' 
                src='../../../steal/steal.js'>
        </script>
		<script type='text/javascript'>
			steal(
				'<%= appPath %>/<%= underscore %>/list', 
				'<%= appPath %>/models/<%= underscore %>.js',
          		'<%= appPath %>/models/fixtures',
          		function(<%=Alias%>List, <%=Alias%>){
				
				new <%=Alias%>List('#<%= plural %>');
				
				$('#create').click(function(){
					new <%=Alias%>({
						name: "Grilled Cheese",
						description: "Bread and Cheese"
					}).save();
				})
			})
		</script>
	</body>
</html>