steal('<%= module %>','funcunit', function( <%=Alias%>, S ) {

	module("<%= module %>", { 
		setup: function(){
			S.open( window );
			$("#qunit-test-area").html("<div id='<%=underscore%>'></div>")
		},
		teardown: function(){
			$("#qunit-test-area").empty();
		}
	});
	
	test("updates the element's html", function(){
		new <%= Alias %>('#<%=underscore%>');
		ok( $('#<%=underscore%>').html() , "updated html" );
	});

});