<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title><%= Alias %></title>
	</head>
	<body>
    		<h1><%= Alias %> Demo</h1>
		<div id='<%= underscore %>'></div>
		<script src='<%= path_to_steal %>/steal/steal.js'></script>
		<script>
		steal('<%= module %>',function(<%= Alias %>){
			new <%= Alias %>('#<%= underscore %>');
		});
		</script>
	</body>
</html>