<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title><%= appPath %>/<%=underscore%>/create</title>
        <style type='text/css'>
            body {font-family: verdana}
        </style>
	</head>
	<body>
	    <h1><%= appPath %>/<%=underscore%>/create Demo</h1>
		<form id='create' action=''></form>
		<div id='<%= plural %>'></div>
		<script type='text/javascript' 
                src='../../../steal/steal.js'>
        </script>
		<script type='text/javascript'>
		steal(
			'<%= appPath %>/<%= underscore %>/create',
			'<%= appPath %>/models/<%= underscore %>.js',
          	'<%= appPath %>/models/fixtures',
          	function(<%=Alias%>Create, <%=Alias%>){
				
				new <%=Alias%>Create('#create');
				<%=Alias%>.bind('created', function(ev, <%=underscore%>){
					$('<div>').html("<h3>"+<%=underscore%>.name+"</h3><p>"+<%=underscore%>.description+"</p>")
					        .appendTo( $('#<%= plural %>') )
				})
				
			})
		</script>
	</body>
</html>